<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Luminis</title>
  </head>

  <body>
    <header class="efecto_glass">
      <div id="encabezado" class="display_flex">
        <img src="../public/img/logo_lumins.png" alt="Logo" id="logo" />
        <h1 class="display_flex">Luminis</h1>
      </div>
      <div>
        <nav class="display_flex">
          <ul class="display_flex">
            <a href=""><li>PRODUCTOS</li></a>
            <a href=""><li>NOSOTROS</li></a>
            <a href=""><li>NEWS</li></a>
            <a href=""><li>AYUDA</li></a>
          </ul>
          <button id="sign_up">
            Sign up
            <div class="arrow-wrapper">
              <div class="arrow"></div>
            </div>
          </button>
          <button id="login">
            Login
            <div class="arrow-wrapper">
              <div class="arrow"></div>
            </div>
          </button>
        </nav>
      </div>
      <div>
        <div id="contenedor_libreria" class="display_flex">
          <div>
            <h2>"Acompañando a los alumnos y docentes en cada paso"</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              illo veritatis aspernatur dolorem. Quo explicabo quia vel aut
              possimus ut totam recusandae debitis deserunt, soluta, repudiandae
              tempore nostrum unde aliquid.
            </p>
            <div>
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </div>
          <img
            src="../public/img/libreria.jpg"
            alt="Foto libreria"
            id="foto_libreria"
          />
        </div>
      </div>
    </header>
    <main>
      <section id="productos_nuevos">
        <h3>PRODUCTOS NUEVOS</h3>
        <div class="display_flex">
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto1.png" />
            <div class="display_flex">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <button class="button">
              <span class="button-content">COMPRAR</span>
            </button>
          </article>
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto2.png" />
            <div class="display_flex">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <button class="button">
              <span class="button-content">COMPRAR</span>
            </button>
          </article>
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto3.png" />
            <div class="display_flex">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <button class="button">
              <span class="button-content">COMPRAR</span>
            </button>
          </article>
        </div>
      </section>
      <section id="mas_vendidos">
        <div class="display_flex">
          <div id="descripcion">
            <h3>LOS MÁS VENDIDOS</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
              officiis facere asperiores ipsa? Laudantium officiis quo a
              delectus reprehenderit, laboriosam aperiam rerum? Quisquam
              exercitationem sapiente error quod nisi aperiam neque.
            </p>
          </div>
          <div class="display_flex">
            <article class="efecto_glass display_flex">
              <img src="../public/img/producto1.png" />
              <div class="display_flex">
                <p>Nombre</p>
                <p>Precio</p>
              </div>
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </article>
            <article class="efecto_glass display_flex">
              <img src="../public/img/producto2.png" />
              <div class="display_flex">
                <p>Nombre</p>
                <p>Precio</p>
              </div>
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </article>
            <article class="efecto_glass display_flex">
              <img src="../public/img/producto3.png" />
              <div class="display_flex">
                <p>Nombre</p>
                <p>Precio</p>
              </div>
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </article>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
