<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/home.css" />
    <link rel="stylesheet" href="../public/css/general.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>Luminis</title>
  </head>
  <body>
    <div class="outer-menu">
      <input class="checkbox-toggle" type="checkbox" />
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="">PRODUCTOS</a></li>
              <li><a href="">NOSOTROS</a></li>
              <li><a href="">NEWS</a></li>
              <li><a href="">AYUDA</a></li>
              <button id="sign_up" class="flecha">
                Sign up
                <div class="arrow-wrapper">
                  <div class="arrow"></div>
                </div>
              </button>
              <button id="login" class="flecha">
                Login
                <div class="arrow-wrapper">
                  <div class="arrow"></div>
                </div>
              </button>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section id="header" class="efecto_glass">
      <header>
        <div id="encabezado" class="display_flex">
          <img src="../public/img/logo2.svg" alt="Logo" id="logo" />
          <h1 id="luminis">Luminis</h1>
        </div>
        <div id="contenedor_libreria" class="display_flex">
          <div id="introduccion">
            <h2>"Acompañando a los alumnos y docentes en cada paso"</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              eaque corrupti, quo at consequuntur provident, ducimus fugit
              possimus esse quae sapiente sint reprehenderit repellendus.
              Dolorem doloremque voluptatum modi itaque numquam! At quasi
              similique corrupti ut provident nobis a et ullam. Similique,
              aliquam beatae autem doloremque facilis repudiandae ipsam eos eum
              officiis excepturi nulla officia incidunt, adipisci tenetur quia.
              Eaque, iure.
            </p>
          </div>
          <img
            src="../public/img/libreria.jpg"
            alt="foto libreria"
            id="foto_libreria"
            class="oculto"
          />
        </div>
        <div id="button_comprar" class="display_flex">
          <button class="button">
            <span class="button-content">COMPRAR</span>
          </button>
        </div>
      </header>
    </section>
    <main>
      <section id="productos_nuevos">
        <h3>PRODUCTOS NUEVOS</h3>
        <div class="articulos_ocultos">
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto1.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto1.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto2.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto3.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active carrusel_prod">
              <div class="d-block w-100">
                <article class="efecto_glass display_flex">
                  <img src="../public/img/producto1.png" />
                  <div class="display_flex info_prod">
                    <p>Nombre</p>
                    <p>Precio</p>
                  </div>
                  <div class="boton">
                    <button class="button">
                      <span class="button-content">COMPRAR</span>
                    </button>
                  </div>
                </article>
              </div>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="../public/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="../public/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="../public/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <section id="mas_vendidos">
        <h3>LOS MÁS VENDIDOS</h3>
        <div class="articulos_ocultos">
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto1.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto1.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto2.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
          <article class="efecto_glass display_flex">
            <img src="../public/img/producto3.png" />
            <div class="display_flex info_prod">
              <p>Nombre</p>
              <p>Precio</p>
            </div>
            <div class="boton">
              <button class="button">
                <span class="button-content">COMPRAR</span>
              </button>
            </div>
          </article>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active carrusel_prod">
              <div class="d-block w-100">
                <article class="efecto_glass display_flex">
                  <img src="../public/img/producto1.png" />
                  <div class="display_flex info_prod">
                    <p>Nombre</p>
                    <p>Precio</p>
                  </div>
                  <div class="boton">
                    <button class="button">
                      <span class="button-content">COMPRAR</span>
                    </button>
                  </div>
                </article>
              </div>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="../public/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="../public/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
            <div class="carousel-item">
              <article class="efecto_glass display_flex">
                <img src="../public/img/producto1.png" />
                <div class="display_flex info_prod">
                  <p>Nombre</p>
                  <p>Precio</p>
                </div>
                <div class="boton">
                  <button class="button">
                    <span class="button-content">COMPRAR</span>
                  </button>
                </div>
              </article>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
    </main>

    <footer>
      <section id="footer" class="efecto_glass">
        <div id="ayuda">
          <input id="ayuda_boton" type="button" value="Ayuda" />
          <p class="texto_footer">¿Tenés alguna sugerencia o comentario?</p>
          <a class="texto_footer" href="">Contactanos</a>
        </div>
        <div id="busca_trabajo">
          <p class="texto_footer">¿Buscás trabajo?</p>
          <input
            id="trabaja_boton"
            type="button"
            value="¡Trabajá con nosotros!"
          />
        </div>
        <div id="redes">
          <p class="texto_footer">Seguinos en nuestras redes sociales</p>
          <div id="redes_icons">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
      </section>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
