<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/general.css"> <!-- Holiss soy Lau jaja acá te importé el link nuevo donde están los estilos del header y el footer -->
    <link rel="stylesheet" href="../public/css/productos.css" />
    <link rel="stylesheet" href="../public/css/grid.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8e2d6bc2b7.js" crossorigin="anonymous"></script>
    <title>Luminis</title>
</head>

<body>

    <!------   MENU PRINCIPAL   ------>
    <div class="outer-menu">
        <input class="checkbox-toggle" type="checkbox" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="">PRODUCTOS</a></li>
                        <li><a href="">NOSOTROS</a></li>
                        <li><a href="">NEWS</a></li>
                        <li><a href="">AYUDA</a></li>
                        <button id="sign_up" class="flecha">
                            Sign up
                            <div class="arrow-wrapper">
                                <div class="arrow"></div>
                            </div>
                        </button>
                        <button id="login" class="flecha">
                            Login
                            <div class="arrow-wrapper">
                                <div class="arrow"></div>
                            </div>
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!------   HEADER   ------>
    <section id="header" class="efecto_glass">
        <header>
            <div id="encabezado" class="display_flex">
                <img src="../public/img/logo2.svg" alt="Logo" id="logo" />
                <h1 id="luminis">Luminis</h1>
            </div>

            <div>
                <h2 id="lema" class="animation">
                    "Acompañando a los alumnos y docentes en cada paso"
                </h2>
                <div id="button_comprar">
                    <button class="button">
                        <span class="button-content">COMPRAR</span>
                    </button>
                </div>
            </div>
        </header>
    </section>

    <!------   MAIN   ------>
    <main class="efecto_glass">
        <!------   BANNER DE PROMOCIONES   ------>
        <section class="banner">

        </section>
        <h6>Inicio -> Productos</h6>
        <!------   BARRA DE BUSQUEDA   ------>
        <div class="busqueda">
            <i class="fa-light fa-filter"></i>
            <form class="search-box">                
                <input type="text" placeholder="Busque su libro aqui">
                <button class="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>

        <!------   GRID DE IMAGENES   ------>


        <div class="itemTarjeta">
            <img src="../public/img/libros/1.jpg" alt="">

            <img src="../public/img/libros/2.jpg" alt="">

            <img src="../public/img/libros/3.jpg" alt="">

            <img src="../public/img/libros/4.jpg" alt="">

            <img src="../public/img/libros/5.png" alt="">

            <img src="../public/img/libros/6.jpg" alt="">

            <img src="../public/img/libros/7.jpg" alt="">

            <img src="../public/img/libros/8.jpg" alt="">

        </div>
        <!------   SLIDER DE EDITORIALES   ------>

        <section class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="../public/img/slider/1.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/2.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/3.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/4.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/5.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/6.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/7.png" alt="">
                </div>

                <div class="slide">
                    <img src="../public/img/slider/1.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/2.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/3.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/4.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/5.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/6.png" alt="">
                </div>
                <div class="slide">
                    <img src="../public/img/slider/7.png" alt="">
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <section id="footer" class="efecto_glass">
          <div id="ayuda">
            <input id="ayuda_boton" type="button" value="Ayuda" />
            <p class="texto_footer">¿Tenés alguna sugerencia o comentario?</p>
            <a class="texto_footer" href="">Contactanos</a>
          </div>
          <div id="busca_trabajo">
            <p class="texto_footer">¿Buscás trabajo?</p>
            <input id="trabaja_boton" type="button" value="¡Trabajá con nosotros!" />
          </div>
          <div id="redes">
            <p class="texto_footer">Seguinos en nuestras redes sociales</p>
            <div id="redes_icons">
              <i class="fab fa-facebook-square"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin"></i>
            </div>
          </div>
        </section>
      </footer>
</body>


</html>