
.container {
  width: 90%;
  max-width: 1000px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-bottom: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.credit_card_data {
  font-size: 1.2em;
}

#design{
  width: 70%;
  margin-right: 20px;
  padding: 20px;
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid white;
  margin: 20px;
  text-align: center;
  
}

h2{
  text-align: center;
}


label.domicilio {
  margin-top: 15px;
}

.radio-group {
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.credit_card {
  width: 100%;
  max-width: 550px;
  position: relative;
  color: #fff;
  transition: 0.3s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2;
  
}

.credit_card.active {
  transform: rotateY(180deg);
}

.credit_card > div {
  padding: 30px;
  border-radius: 15px;
  min-height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.credit_card .front_side {
  width: 100%;
  background: url(../img/logo_lumins.png);
  background-size: cover;
}

.front_side .brand_logo {
  text-align: right;
  min-height: 50px;
}

.front_side .brand_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 80px;
}

.front_side .chip {
  width: 100%;
  max-width: 50px;
  margin-bottom: 20px;
}

.front_side .group .label {
  font-size: 16px;
  color: #7d8994;
  margin-bottom: 5px;
}

.front_side .group .number,
.front_side .group .credit_card_name,
.front_side .group .expiry_date {
  color: black;
  font-size: 22px;
  text-transform: uppercase;
}

.front_side .flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.back_side {
  width: 100%;
  background: url(../img/logo_lumins.png);
  background-size: cover;
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.back_side .magnetic_bar {
  height: 40px;
  background: #000;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.back_side .credit_card_data {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.back_side .credit_card_data p {
  margin-bottom: 5px;
}

.back_side .credit_card_data #signature_container {
  width: 70%;
}

.back_side .credit_card_data #signature_container .signature {
  height: 40px;
  background: repeating-linear-gradient(
    skyblue 0,
    skyblue 5px,
    orange 5px,
    orange 10px
  );
}

.back_side .credit_card_data #signature_container .signature p {
  line-height: 40px;
  font-family: "Liu Jian Mao Cao", cursive;
  color: #000;
  font-size: 30px;
  padding: 0 10px;
  text-transform: capitalize;
}

.back_side .credit_card_data #ccv {
  width: 20%;
}

.back_side .credit_card_data #ccv .ccv {
  background: #fff;
  height: 40px;
  color: #000;
  padding: 10px;
  text-align: center;
}

.back_side .legend {
  font-size: 14px;
  line-height: 24px;
}

.back_side .link-banco {
  font-size: 14px;
  color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.container-btn .btn-open-form {
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  background: #2364d2;
  color: #fff;
  position: relative;
  top: -25px;
  z-index: 3;
  border-radius: 100%;
  box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
  padding: 5px;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
}

.container-btn .btn-open-form:hover {
  background: #1850b1;
}

.container-btn .btn-open-form.active {
  transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/
.credit_card_form {
  background: #fff;
  width: 100%;
  max-width: 700px;
  padding: 150px 30px 30px 30px;
  border-radius: 10px;
  position: relative;
  top: -150px;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.3s ease-out;
}

.credit_card_form.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.credit_card_form label {
  display: block;
  color: #7d8994;
  margin-bottom: 5px;
  font-size: 16px;
}

.credit_card_form input,
.credit_card_form select,
.btn-send {
  border: 2px solid #ced6e0;
  font-size: 18px;
  height: 50px;
  width: 100%;
  padding: 5px 12px;
  transition: 0.3s ease all;
  border-radius: 5px;
}

.credit_card_form input:hover,
.credit_card_form select:hover {
  border: 2px solid #93bded;
}

.credit_card_form input:focus,
.credit_card_form select:focus {
  outline: rgb(4, 4, 4);
  box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.credit_card_form input {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.credit_card_form .flexbox {
  display: flex;
  justify-content: space-between;
}

.credit_card_form .expire {
  width: 100%;
}

.credit_card_form .ccv {
  min-width: 100px;
}

.credit_card_form .group-select {
  width: 100%;
  margin-right: 15px;
  position: relative;
}

.credit_card_form select {
  -webkit-appearance: none;
  appearance: none;
}

.credit_card_form .group-select i {
  position: absolute;
  color: #ced6e0;
  top: 18px;
  right: 15px;
  transition: 0.3s ease all;
}

.credit_card_form .group-select:hover i {
  color: #93bfed;
}

.credit_card_form .btn-send {
  border: none;
  padding: 10px;
  font-size: 22px;
  color: #fff;
  background: #2364d2;
  box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
  cursor: pointer;
}

.credit_card_form .btn-send:hover {
  background: #1850b1;
}

.pie {
  clear: both;
  padding: 20px;
  background: #ccc0aa;
  text-align: center;
}

.display_flex {
  display: flex;
}

.credit_card_data {
  border-radius: 50px;
}

/* -------------------CONTENEDOR TARJETA------------------ */
/* desactivado para mobile */
.container {
  display: none;
}

@media (min-width: 426px) {
  .container {
    display: block;
  }
} 

@media (min-width: 768px) {
  .display_flex {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .display_flex_None {
    display: flex;
    justify-content: space-around;
  }
}