/* Ocultar botón de comprar en el header */
header #buy_button {
  display: none;
}

/* Estilos para el contenido principal */
main {
  width: 90vw;
  margin: auto;
}

/* Estilos para la barra de búsqueda */
.search-container {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  flex: 1;
  padding: 8px 30px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search-input:focus {
  border-color: #2a9d8f;
}

.search-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.search-button i {
  color: #2a9d8f;
}


/* Estilos para el título de la sección de carrito */
#title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* Estilos para la tabla */
#table {
  width: 100%;
  margin-top: 20px;
  border-collapse: separate; /* Cambiamos a 'separate' para poder aplicar bordes redondeados */
  border-spacing: 0; /* Eliminamos el espacio entre celdas */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden; /* Para ocultar las esquinas redondeadas en contenido desbordado */
}

/* Estilos para las celdas del encabezado y cuerpo de la tabla */
#table th,
#table td {
  padding: 8px;
  text-align: center;
  border: none; /* Quitamos el borde entre celdas */
}




/* Estilos para las celdas del encabezado de la tabla */
#table th {
  font-weight: bold;
}



/* Estilos para el botón de eliminar y el contenido de la tabla */
#table .login-button {
  background-color: #2a9d8f;
  color: #fff;
  border: none;
  border-radius: 50%; /* Redondea el botón */
  width: 24px;
  height: 24px;
  padding: 2px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
}

#table .login-button i {
  vertical-align: middle; /* Centrar el ícono verticalmente */
}



/* Estilos para el input de cantidad de productos */
.product_quantity[type="number"] {
  width: 40px;
}



/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  #table thead {
    display: none; /* Ocultar el encabezado de la tabla en pantallas pequeñas */
  }

  

  #table tr {
    display: block;
    
  }

  #table td::before {
    /* Agregar etiquetas de encabezado personalizadas */
    content: attr(data-label);
    font-weight: bold;
    margin-right: 8px;
  }
}

/* Estilos para el campo de código postal */
input#envio {
  border-radius: 15px;
  height: 30px;
  padding-left: 30px;
}

/* Estilos para el título de envíos */
#shipping_title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

/* Cambio de dirección de los elementos en envíos a columnas */
#country_shipping {
  flex-direction: column;
}

/* Estilos para el label de envíos */
#country_shipping label {
  display: flex;
  flex-direction: column;
}





/* Espaciado entre elementos en la parte inferior de la tabla */
#down_table {
  justify-content: space-between;
}

/* Media query para pantallas con ancho menor o igual a 426px */
@media (max-width: 426px) {
  /* Estilos para pantallas pequeñas (hasta 426px) */

  /* Ocultar el encabezado de la tabla en pantallas pequeñas */
  #table thead {
    display: none;
  }

  /* Estilos para las celdas del cuerpo de la tabla en pantallas pequeñas */
  #table td {
    border-bottom: 1px solid #ddd; /* Agregar bordes inferiores para separar las filas */
    display: block;
    text-align: right; /* Alineación de texto a la derecha */
  }

  /* Estilos para las celdas del contenido de la tabla en pantallas pequeñas */
  #table td::before {
    /* Agregar etiquetas de encabezado personalizadas */
    content: attr(data-label);
    font-weight: bold;
    margin-right: 8px;
  }

  /* Estilos para las filas de la tabla en pantallas pequeñas */
  #table tr {
    display: block;
    margin-bottom: 10px; /* Espaciado entre filas */
    background-color: transparent; /* Fondo transparente para filas */
    border-radius: 10px; /* Borde redondeado para filas */
  }

  /* Estilos para el botón de eliminar en pantallas pequeñas */
  #table .login-button {
    float: right; /* Alineación del botón a la derecha */
    margin: 0 5px;
  }

  /* Estilos para el input de cantidad de productos en pantallas pequeñas */
  .product_quantity[type="number"] {
    width: 40px;
    margin: 0 5px;
    text-align: center;
  }

  /* Estilos para el pie de la tabla en pantallas pequeñas */
  #table_footer tr {
    display: block;
     /* Color de fondo para el pie de la tabla */
    border-radius: 10px; /* Borde redondeado para el pie de la tabla */
  }
  
  /* Estilos para el total a pagar en el pie de la tabla en pantallas pequeñas */
  #table_footer td {
    text-align: right; /* Alineación de texto a la derecha */
  }

}
/* Media query para pantallas con ancho entre 426px y 768px */
@media (min-width: 426px) and (max-width: 768px) {
  /* Estilos para pantallas medianas (entre 426px y 768px) */

  /* Estilos para el encabezado de la tabla en pantallas medianas */
  #table thead {
    display: table-header-group; /* Mostrar el encabezado de la tabla como grupo */
  }

  /* Restaurar la visualización normal de las celdas del cuerpo de la tabla en pantallas medianas */
  #table td {
     /* Agregar bordes inferiores para separar las filas */
    display: table-cell;
    text-align: center; /* Alineación de texto al centro */
  }

  /* Restaurar la visualización normal de las filas de la tabla en pantallas medianas */
  #table tr {
    display: table-row;
     /* Color de fondo para las filas */
    border-radius: 10px; /* Borde redondeado para las filas */
  }

  /* Estilos para el botón de eliminar en pantallas medianas */
  #table .login-button {
    float: none; /* Restaurar la alineación del botón */
    margin: 0; /* Restaurar el margen del botón */
  }

  /* Estilos para el input de cantidad de productos en pantallas medianas */
  .product_quantity[type="number"] {
    width: 100px; /* Ancho del input */
    margin: 0; /* Restaurar el margen del input */
    text-align: center; /* Alineación de texto al centro */
  }

  /* Estilos para el pie de la tabla en pantallas medianas */
  #table_footer tr {
    display: table-row;
     /* Color de fondo para el pie de la tabla */
    border-radius: 10px; /* Borde redondeado para el pie de la tabla */
  }

  /* Estilos para el total a pagar en el pie de la tabla en pantallas medianas */
  #table_footer td {
    text-align: right; /* Alineación de texto a la derecha */
  }
}

/* Media query para pantallas con ancho entre 769px y 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para pantallas medianas/grandes (entre 769px y 1024px) */

  /* Estilos adicionales para la tabla en pantallas medianas/grandes */
  #table {
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }

  /* Estilos para el input de cantidad de productos en pantallas medianas/grandes */
  .product_quantity[type="number"] {
    width: 80px; /* Ancho del input */
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }

  /* Estilos para el pie de la tabla en pantallas medianas/grandes */
  #table_footer {
    font-size: 16px; /* Tamaño de fuente más grande para el pie de tabla */
  }
}

/* Estilos para la sección de Seguridad y envíos */
#prefooter {
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center; /* Centrar horizontalmente el contenido */
}

/* Estilos para el contenedor de Compra Segura y Entrega en 48 HS */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* Ocupar el 50% del ancho */
}

/* Estilos para los iconos */
.section i {
  font-size: 30px;
  color: #2a9d8f;
  margin-bottom: 10px;
}

/* Estilos para el texto */
.section p {
  font-size: 14px;
  font-weight: bold;
  color: #2a9d8f;
  margin: 0;
}

/* Media query para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
  #prefooter {
    flex-direction: column;
    align-items: center;
  }

  .section {
    margin-bottom: 10px;
  }

  /* Ajustar espaciado en pantallas más pequeñas */
  .section {
    gap: 5px;
  }


.checkbox-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.checkbox-container label {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

}
/* Ajustar el espacio entre los elementos de la sección */
#down_table {
  margin-top: 20px;
  justify-content: space-between;
}

/* Ajustar el espacio entre los checkboxes */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos del contenedor */
}

/* Estilos para el checkbox personalizado */
.checkbox-container label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
}

.checkbox-container label input[type="checkbox"] {
  opacity: 0;
}

.checkbox-container label span {
  position: center;
}

/* Estilo para el icono del checkbox */
.checkbox-container label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 24px;
  height: 24px;
  border: 2px solid #2a9d8f; /* Borde del checkbox */
  border-radius: 5px;
}

/* Estilo para el icono del checkbox cuando está activado */
.checkbox-container label input[type="checkbox"]:checked + span::before {
  content: "\f058"; /* Código Unicode del ícono de check (FontAwesome) */
  position: absolute;
  left: 4px;
  top: -1px;
  color: #2a9d8f; /* Color del ícono cuando está activado */
}
