/* Agrega estilos generales para el formulario */
.edit_user_form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
  }

  #delete_button {
    font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: #2a9d8f;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  }

  #delete_button:hover {
    background-color:#e46f50;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos para los campos de entrada */
  .fields_name {
    margin-bottom: 10px;
  }
  
  /* Div contenedor de botones */
  #botones_editarUsuario{
    display: flex;
    justify-content: space-between;
  }

  #habilitar_datosFacturacion{
    display: flex;
  }

  #habilitar_datosFacturacion label{
    margin-right: 10px;
  }

  /* Estilos para el botón de "Guardar cambios" */
  #submit_update {
    --primary-color: #2a9d8e;
    --secondary-color: #fff;
    --hover-color: #264653;
  }
  
  #submit_update:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  /* boton cancelar */
  #cancelar_cambios{
    --primary-color: #e46f50;
    --secondary-color: #fff;
    --hover-color: #f2a160;
  }
  
  #submit_update, #cancelar_cambios {
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    margin: 10px;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
  }
  
  #submit_update:hover {
      background-color: var(--hover-color);
  }
  
  #cancelar_cambios:hover {
      background-color: var(--hover-color);
  }
  
  /* Oculta el segundo formulario por defecto */
  #secondForm {
    display: none;
  }

  div#profile_image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}