#form_create {
    
    margin: 20px;
    padding: 20px;
}

.main_form_create {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}

input[type="text"], input[type="number"], input[type="file"], textarea, select, option {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.5s ease;
}

input[type="text"]:focus-within,
input[type="number"]:focus-within,
input[type="file"]:focus-within,
textarea:focus-within,
select:focus-within,
option:focus-within {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.submit_product,
.submit_edit_product {
    font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: #2a9d8f;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.submit_product:hover {
    background-color: #e46f50;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 18px;
  height: 13px;
}

@media (min-width: 426px) {
    .submit_product {
      font-size: 18px;
    }
  
    .fields_name,
    .footer_text {
      font-size: 20px;
    }
  }
  
  @media (min-width: 769px) {
    .submit_product {
      font-size: 22px;
    }
  
    .fields_name,
    .footer_text {
      font-size: 25px;
    }
  }

