.oculto {
  display: none;
}
/* ----------------------- DECRIPCION CON FOTO DE LIBRERIA ------------------------- */
#bookStore_container {
  margin-top: 25px;
  justify-content: space-around;
  align-items: center;
}

#bookStore_container div#introduccion p,
#bookStore_container div#introduccion h2 {
  text-align: center;
}
div#buy_button {
  justify-content: center;
}
#foto_libreria {
  width: 200px;
  border-radius: 0 0 0 50px;
}

/* -----------------MAIN------------------------- */
main {
  width: 95vw;
  margin: auto;
}
main section article {
  width: 75%;
  padding: 10px;
  margin: 0px auto 40px auto;
  flex-direction: column;
}
.articulos_ocultos {
  display: none;
}
section div.articulos {
  justify-content: space-around;
  flex-direction: column;
}
section div.info_prod {
  display: flex;
  flex-direction: column;
}
.imagenProducto{
  width: 100px;
  height: 500px;
  border-radius: 8px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.imagenProducto:hover{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.nombreProducto {
  font-size: 25px;
  font-weight: bold;
}
.precios {
  font-size: 20px;
}
section h3 {
  text-align: center;
  color: black;
  font-weight: bold;
}
#productos_nuevos {
  margin-top: 35px;
}
#productos_nuevos img,
#mas_vendidos img {
  object-fit: cover;
  width: 90%;
  margin: auto;
}
#mas_vendidos {
  margin-top: 10px;
}
#mas_vendidos div#descripcion {
  width: 100%;
}

#mas_vendidos div#descripcion p,
#mas_vendidos h3 {
  justify-items: center;
}
div.boton {
  display: flex;
  justify-content: center;
}
.verMas {
  text-decoration: none;
  color: white;
}

/* ----------------MEDIA QUERIES------------------- */
@media (min-width: 769px) {
  #carouselExampleIndicators {
    display: none;
  }
  .articulos_ocultos {
    display: flex;
    flex-wrap: wrap;
  }

  .oculto {
    display: block;
  }
  section div.articulos {
    flex-direction: row;
  }
  main section article {
    width: 40%;
  }
  #bookStore_container div#introduccion {
    width: 50%;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  #foto_libreria {
    width: 500px;
  }
  main section article {
    width: 20%;
  }
}
