.oculto {
  display: none;
}
/* ----------------------- DECRIPCION CON FOTO DE LIBRERIA ------------------------- */
#contenedor_libreria {
  margin-top: 25px;
  justify-content: space-around;
  align-items: center;
}

#contenedor_libreria div#introduccion p,
#contenedor_libreria div#introduccion h2 {
  text-align: center;
}
div#button_comprar {
  justify-content: center;
}
#foto_libreria {
  width: 200px;
  border-radius: 0 0 0 50px;
}

/* -----------------MAIN------------------------- */
main {
  width: 95vw;
  margin: auto;
}
main section article {
  width: 75%;
  padding: 10px;
  margin: 0px auto 40px auto;
  flex-direction: column;
}
.articulos_ocultos {
  display: none;
}
section div.articulos {
  justify-content: space-around;
  flex-direction: column;
}
section div.info_prod {
  justify-content: space-around;
}
section h3 {
  text-align: center;
  color: white;
}
#productos_nuevos {
  margin-top: 35px;
}
#productos_nuevos img,
#mas_vendidos img {
  object-fit: cover;
  width: 90%;
  margin: auto;
}
#mas_vendidos {
  margin-top: 10px;
}
#mas_vendidos div#descripcion {
  width: 100%;
}

#mas_vendidos div#descripcion p,
#mas_vendidos h3 {
  justify-items: center;
}
div.boton {
  display: flex;
  justify-content: center;
}

/* ----------------MEDIA QUERIES------------------- */
@media (min-width: 769px) {
  #carouselExampleIndicators {
    display: none;
  }
  .articulos_ocultos {
    display: flex;
    flex-wrap: wrap;
  }

  .oculto {
    display: block;
  }
  section div.articulos {
    flex-direction: row;
  }
  main section article {
    width: 40%;
  }
  #contenedor_libreria div#introduccion {
    width: 50%;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  #foto_libreria {
    width: 500px;
  }
  main section article {
    width: 20%;
  }
}
