/* -----------------FORMULARIO LOGIN------------------------- */
main {
  margin: 40px;
}
#formulario_inicio_login {
  width: 70%;
  margin-right: 20px;
  padding: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.5s ease;
}

input[type="text"]:focus-within,
input[type="password"]:focus-within,
input[type="email"]:focus-within {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

#checkbox_recordarme {
  width: 20px;
  accent-color: #2a9d8f;
  transition: all 0.5s ease;
}

#checkbox_recordarme:hover {
  transform: rotate(360deg);
}

#recordarme {
  display: flex;
  gap: 5px;
  align-content: center;
  margin-top: 10px;
}

#iniciar_sesion {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: #2a9d8f;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

#iniciar_sesion:hover {
  background-color: #e46f50;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

#placa_derecha {
  padding-left: 20px;
  background-color: #2a9d8f;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 20px;
  border-radius: 50px 0 0 50px;
}

.formularios_login {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
}

.nombre_campos,
.texto_footer {
  font-size: 16px;
}

@media (min-width: 426px) {
  #iniciar_sesion {
    font-size: 18px;
  }

  #placa_derecha {
    font-size: 25px;
    padding-right: 10px;
  }

  .nombre_campos,
  .texto_footer {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  #iniciar_sesion {
    font-size: 22px;
  }

  #placa_derecha {
    font-size: 35px;
    padding-right: 10px;
  }

  .nombre_campos,
  .texto_footer {
    font-size: 25px;
  }
}
