main {
  width: 95vw;
  margin: auto;
}

main section article {
  width: 75%;
  padding: 10px;
  margin: 0px auto 40px auto;
  flex-direction: column;
}

.container_productDetails {
  display: flex;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 4%;
}

.container_carousel-image {
  display: flex;
  padding-top: 5%;
  align-items: center;
}

.image_container {
  display: none;
  width: 100%;
  padding: 10%;
  align-items: center;
  transition: all 300ms;
}


  

/* -----Color flechas carosel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

/* ------------Css image */
#uno {
  padding: 2%;
  width: 75%;
}

#dos {
  padding: 2%;
  width: 75%;
}

#tres {
  padding: 2%;
  width: 75%;
}

.details__title {
  font-size: 20px;
  text-align: center;
}

#ok {
  color: green;
  padding-top: 4px;
}

#envio {
  color: blue;
  padding-top: 4px;
}

.details_products {
  display: flex;
  text-align: center;
  font-size: 18px;
  justify-content: space-around;
}

.details__button {
  color: #fff;
  padding: 6px 15px;
  border-radius: 15px;
  background: #7d2ae8;
  transition: all 0.2s ease;
  font-size: 10px;
}

.details__button:active {
  transform: scale(0.96);
}

.details__prices {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.details__now {
  font-weight: bold;
}

.details__stock {
  display: flex;
  justify-content: space-around;
}
.details__envio {
  display: flex;
  justify-content: space-around;
}

.details__product-quantity {
  display: flex;
  justify-content: space-around;
}
/* --------------------Inicio descripcion producto */
.container_productDescription {
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 4%;
}

.details_productName {
  text-align: center;
}

.container_productName {
  display: flex;
}

.details__description {
  font-size: 10px;
}



.details_description-P {
  font-size: 24px;
}

.fa-star {
  padding-right: 10px;
}

.fa-heart {
  padding-right: 10px;
}

.ul_details_description {
  font-size: 16px;
}

.button {
  font-size: 50%;
}
.imgcarousel {
  height: 100%;
  width: 100%;
}
/* --------------------------Fin Descripcion producto */

/* -----------------------------------------Slider */
.slider {
  width: 90vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(100px * 14);
}
.slider .slide {
  width: 100px;
}
.slider .slide img {
  width: 100%;
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}
/* ---------------------Fin Slider */

@media (min-width: 426px) {
}
@media (min-width: 768px) {
  .display_flex {
    display: flex;
  }

  .image_container {
    display: flex;
    width: 50%;
    padding: 10%;
    align-items: center;
    justify-content: center;
  }

  .details__prices {
    display: flex;
    align-items: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .display_flex {
    justify-content: flex-start;
    align-items: center;
  }
  .details_products {
    font-size: 1.5rem;
  }
  .details__title {
    font-size: 1.5rem;
  }
  .details__button {
    font-size: 1.3rem;
  }

  .container_productName {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .image_container img {
    display: flex;
    transition: all 300ms;
    position: relative;
  }
  .image_container img:hover {
    transform: scale(2);
   }
 }

@media (min-width: 1024px) {
  .display_flex_None {
    display: flex;
    justify-content: space-around;
  }

  #nav_ul {
    font-size: 30px;
  }

  #sign_up {
    font-size: 20px;
  }
  #login {
    font-size: 20px;
  }
  .fa-cart-shopping {
    font-size: 30px;
  }

  .details__title {
    font-size: 30px;
  }
  .details__now {
    font-size: 30px;
  }

  .datails__stock {
    font-size: 30px;
  }

  .details__button {
    font-size: 30px;
  }
  #ok {
    font-size: 70px;
  }
  #envio {
    font-size: 70px;
  }
  .datails__envio {
    font-size: 30px;
  }
  .details__button {
    font-size: 30px;
  }

  .details_products {
    display: flex;
    justify-content: space-around;
  }

  .container_productName {
    justify-content: space-around;
    font-size: 30px;
  }
  .details_description-P {
    font-size: 20px;
  }
  .ul_details_description {
    font-size: 20px;
  }

  #h2 {
    font-size: 30px;
  }

.details__envio, .details__stock, .details__prices {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.container_productDetails{
  height: 750px;
}
.imgcarousel {
  width:318px;
  height: 348px;
}


}

