main section article {
  width: 75%;
  padding: 10px;
  margin: 0px auto 40px auto;
  flex-direction: column;
}

.container_productDetails {
  margin: 25px;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: auto;
  overflow: visible;
}

.container_carousel-image {
  display: flex;
  padding-top: 5%;
}

.image_container {
  display: none;
  width: 30%;
  padding: 10%;
  align-items: center;
  transition: all 300ms;
}

/* -----Color flechas carosel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

/* ------------Css image */
#one, #two, #three {
  padding: 2%;
  width: 30%;
}

.details__title {
  font-size: 20px;
  text-align: center;
}

#ok {
  color: green;
  font-size: 25px;
  transition: all 0.5s ease;
  padding-top: 4px;
}

#ok:hover {
  transform: scale(1.3);
  color: rgb(255, 251, 239);
  text-shadow: 0 0 5px #f36624, 0 0 15px #f8882d, 0 0 30px #f2a160,
    0 0 50px #f1c056, 0 0 100px #ffeabd;
}

#shipping {
  color: black;
  font-size: 20px;
  transition: all 0.5s ease;
  padding-top: 4px;
}

#shipping:hover {
  transform: scale(1.3);
  color: rgb(255, 251, 239);
  text-shadow: 0 0 5px #f36624, 0 0 15px #f8882d, 0 0 30px #f2a160,
    0 0 50px #f1c056, 0 0 100px #ffeabd;
}

.details_products {
  display: flex;
  text-align: center;
  font-size: 18px;
  justify-content: space-around;
}

.details__button {
  color: #fff;
  padding: 6px 15px;
  border-radius: 15px;
  background: #7d2ae8;
  transition: all 0.2s ease;
  font-size: 10px;
}

.details__button:active {
  transform: scale(0.96);
}

.details__prices {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.details__now {
  font-weight: bold;
}

.details__stock,
.details_shipping,
.details__product-quantity {
  display: flex;
  justify-content: space-around;
}
/* --------------------Inicio descripcion producto */
.container_productDescription {
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 4%;
}

.details_productName {
  text-align: center;
}

.container_productName {
  display: flex;
}

.details__description {
  font-size: 10px;
}

.details_description-P {
  font-size: 24px;
}

.fa-star {
  padding-right: 10px;
}

.fa-heart {
  padding-right: 10px;
}

.ul_details_description {
  font-size: 16px;
  columns: 2;
  height: auto;
  overflow: visible;
}

#h2 {
  font-size: 20px;
  margin-top: 15px;
}

.button {
  font-size: 50%;
}
.imgcarousel {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
/* --------------------------Fin Descripcion producto */

@media (min-width: 426px) {
}
@media (min-width: 768px) {
  .display_flex {
    display: flex;
  }

  #ok {
    color: green;
    font-size: 32px;
    transition: all 0.5s ease;
    padding-top: 4px;
  }

  #shipping {
    color: black;
    font-size: 30px;
    transition: all 0.5s ease;
    padding-top: 4px;
  }

  .container_productDetails {
    display: flex;
  }


  .container_carousel-image {
    display: inline-flex;
    padding-top: 5%;
    align-items: center;
    width: 30%;
  }

  .image_container {
    display: flex;
    width: 50%;
    padding: 10%;
    align-items: center;
    justify-content: center;
  }

  .details__prices {
    display: flex;
    align-items: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: baseline;
  }

  .display_flex {
    justify-content: flex-start;
    
  }
  .details_products {
    font-size: 1.5rem;
  }
  .details__title {
    font-size: 1.5rem;
  }
  .details__button {
    font-size: 1.3rem;
  }

  .container_productName {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .image_container img {
    display: flex;
    transition: all 300ms;
    position: relative;
  }
  .image_container img:hover {
    transform: scale(2);
  }
}
.button-content {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.fa-shopping-cart {
  font-size: 20px;
  color: black;
}

@media (min-width: 1024px) {
  .display_flex_None {
    display: flex;
    justify-content: space-around;
  }

  .container_carousel-image {
    display: flex;
  }

  #ok {
    color: green;
    font-size: 40px;
    transition: all 0.5s ease;
    padding-top: 4px;
  }

  #shipping {
    color: black;
    font-size: 38px;
    transition: all 0.5s ease;
    padding-top: 4px;
  }

  #nav_ul {
    font-size: 30px;
  }

  #sign_up {
    font-size: 20px;
  }
  #login {
    font-size: 20px;
  }
  .fa-shopping-cart {
    font-size: 30px;
    color: black;
  }

  .details__title {
    font-size: 30px;
  }
  .details__now {
    font-size: 30px;
  }

  .datails__stock {
    font-size: 30px;
  }

  .details__button {
    font-size: 30px;
  }
  .details__shipping {
    font-size: 30px;
  }
  .details__button {
    font-size: 30px;
  }

  .details_products {
    display: flex;
    justify-content: space-around;
  }

  .container_productName {
    justify-content: space-around;
    font-size: 30px;
  }
  .details_description-P {
    font-size: 20px;
  }
  .ul_details_description {
    font-size: 20px;
  }

  #h2 {
    font-size: 30px;
  }

  .details_shipping,
  .details__stock,
  .details__prices {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .container_productDetails {
    height: 750px;
  }
  .imgcarousel {
    width: 318px;
    height: 348px;
  }
}
