h1#my_profile{
    font-size: 24px;
    padding-left: 30px;
}
div#profile_image_container{
    display: flex;
    justify-content: center;
}

div#profile_image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



