h3{
    margin-left: 165px;
}

h4{
    margin: 10px;
    font-size: 18px;
}

p{
    margin: 0px 10px;
    font-size: 14px;
    
}

button a{
    text-decoration: none;
    color: white;
}

#divContraseña{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 50px;
}
#divContraseña div {
    display: flex;
    align-items: center;
}
#divContraseña a {
    text-decoration: none;
    color: #e46f50;
    font-weight: bold;
}

#datos_usuarios, #datos_compras {
    display: none;
}

.fields_name {
    padding-bottom: 10px;
}

#datos_menu ul{
    list-style: none;
    display: flex;
    justify-content: center;

}
#datos_menu ul li{
    margin: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#datos_menu ul li a{
    color: black;
    font-size: 24px;
    text-decoration: none;
}
#datos_menu a:hover {
    text-decoration: underline;
}


h1#my_profile{
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
}
div#profile_image_container{
    display: flex;
    justify-content: center;
}

div#profile_image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#datos_usuarios{
    margin: auto;
}
.fields_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
    margin: 25px auto;
}


#buttons{
    display: flex;
    justify-content: center;
}
#delete_button{
    --primary-color: #e46f50;
    --secondary-color: #fff;
    --hover-color: #f2a160;
    
}
#edit_button{
    --primary-color: #2a9d8e;
    --secondary-color: #fff;
    --hover-color: #264653;
}

button{
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  margin: 10px;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
}

button:hover {
    background-color: var(--hover-color);
  }