.Active {
        background-color: #2239cc !important
}

.contenedor {
    display: flex;
    width: 50vw;
    margin-left: 25vw;
    align-content: space-around;
    justify-content: space-around;
}

.Active {
    background-color: #1E90FF !important
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    width: 100%;
    max-width: 400px;
    min-width: 150px;
    min-height: 60px;
    gap: 100px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    gap: 10px;
    padding: 1px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -.75rem;
    margin-left: -.75rem
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important
}

.text-white {
    color: #fff !important
}

.bg-dark {
    background-color: #5a5c69 !important
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0
}
