<!DOCTYPE html>
<html lang="es">
<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/general.css">
    <%- include('./partials/head') %>
    <title>Administrador Luminis</title>
</head>
<body>
    
    <%- include('./partials/footer') %> <%- include('./partials/script') %>
  </body>
</html>
>>>>>>> 464ab437b41f800db7f5704e69675addbf1f0829
