<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto</title>
</head>
<body>
    <main class="formularios_login">
    <section id="formulario_inicio_login" class="efecto_glass"></section>
    <h2>Agregar Nuevo Producto</h2>
    <form action="agregar_producto.php" method="POST" enctype="multipart/form-data">
        <label class="nombre_campos" for="name">Nombre del producto:</label><br>
        <input type="text" name="name" required><br>
    
        <label class="nombre_campos" for="description">Descripción:</label><br>
        <textarea name="description" required></textarea><br>
    
        <label class="nombre_campos" for="image">Imagen:</label><br>
        <input type="file" name="image" accept="image/*" required><br>
    
        <label class="nombre_campos" for="">Categorias</label><br>
        <select id="opcion" name="opcion">
            <option value="opcion1">Categoria 1</option>
            <option value="opcion2">Categoria 2</option>
            <option value="opcion3">Categoria 3</option>
        </select>
        <br>
        <label  class="nombre_campos" for="price">Precio:</label><br>
        <input type="number" step="0.01" name="price" required><br>
    
        <button class="agregar_producto" type="submit">Agregar Producto</button>
    </form>
    </section>
    </main>
</body>
</html>