<!DOCTYPE html>
<html>
<head>
  <title>Preguntas Frecuentes</title>
  <link rel="stylesheet" href="/css/frequent-questions.css" />
  <link rel="stylesheet" href="/css/home.css" />

</head>
<body>
  <h1>Preguntas Frecuentes</h1>

  <div class="frequent-questions">
    <h2>Registracion y primera compra.</h2>
    <div class="answer" style="display: none;">
      Desde la pantalla de bienvenida, podrás encontrar el botón de “Iniciar Sesión/Registrate” en el margen superior derecho. Luego tendrás que completar los datos solicitados y ¡listo!, tene en cuenta que si sos docente, tenes un ingreso especial.
    </div>
    <button class="show-answer">Mostrar Respuesta</button>
  </div>
  <div class="frequent-questions">
    <h2>¿Hay un monto minimo de compra?</h2>
    <div class="answer" style="display: none;">
      Actualmente, el monto mínimo de compras es de $10.000.
    </div>
    <button class="show-answer">Mostrar Respuesta</button>
  </div>
  <div class="frequent-questions">
    <h2>¿Las promos aplican solo para las tiendas?</h2>
    <div class="answer" style="display: none;">
      Las promociones Online son las mismas de la tienda física y, además, hay promociones exclusivas si sos DOCENTE!!
    </div>
    <button class="show-answer">Mostrar Respuesta</button>
  </div>
  <div class="frequent-questions">
    <h2>¿Cuáles son los metodos de envios disponibles?</h2>
    <div class="answer" style="display: none;">
      Para productos de la libreria podrás seleccionar envío a domicilio o sucursal de Correo Argentino. Para compras al por mayor solo disponemos de envío a domicilio. Cobertura de envío: total país.
    </div>
    <button class="show-answer">Mostrar Respuesta</button>
  </div>

  <script>
    const showButtons = document.querySelectorAll('.show-answer');
    showButtons.forEach((button) => {
      button.addEventListener('click', () => {
        const answer = button.previousElementSibling;
        answer.style.display = answer.style.display === 'none' ? 'block' : 'none';
      });
    });
  </script>
</body>
</html>
