<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Saludo</title>
</head>
<body>
  <%- include('head') %>
  <%- include('header') %>

  <main>
    <h1>¡Vamos a extrañarte!</h1>
    <p>Te esperamos pronto.</p>

    <div class="buttons">
      <a href="/home">Volver al inicio</a>
    </div>
  </main>

  <%- include('footer') %>
  <%- include('script') %>
</body>
</html>