<footer>
  <section id="footer" class="glass_effect">
    <div id="help">
      <input id="help_button" type="button" value="Preguntas frecuentes"/>
      <p class="footer_text">¿Tenés alguna sugerencia o comentario?</p>
      <div id="footer_contact">
        <p class="footer_text">Contactanos</p><a href="https://api.whatsapp.com/send?phone=TUNUMERO" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
    <div id="looking_for_job">
      <p class="footer_text">¿Buscás trabajo?</p>
      <input id="work_button" type="button" value="¡Trabajá con nosotros!" />
    </div>
    <div id="social_media">
      <p class="footer_text">Seguinos en nuestras redes sociales</p>
      <div id="social_media_icons">
        <a href="https://www.facebook.com/tuusuario" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/tuusuario" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/tuusuario" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </section>
  <p>&copy; 2023 Luminis. Todos los derechos reservados.</p>
</footer>