<footer>
  <section id="footer" class="glass_effect">
    <div id="help">
      <input id="help_button" type="button" value="Ayuda" />
      <p class="footer_text">¿Tenés alguna sugerencia o comentario?</p>
      <div id="footer_contact">
        <p class="footer_text">Contactanos</p><i class="fab fa-whatsapp"></i>
      </div>
    </div>
    <div id="looking_for_job">
      <p class="footer_text">¿Buscás trabajo?</p>
      <input id="work_button" type="button" value="¡Trabajá con nosotros!" />
    </div>
    <div id="social_media">
      <p class="footer_text">Seguinos en nuestras redes sociales</p>
      <div id="social_media_icons">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </section>
</footer>