<footer>
  <section id="footer" class="efecto_glass">
    <div id="ayuda">
      <input id="ayuda_boton" type="button" value="Ayuda" />
      <p class="texto_footer">¿Tenés alguna sugerencia o comentario?</p>
      <div id="contacto_footer">
        <p class="texto_footer">Contactanos</p><i class="fab fa-whatsapp"></i>
      </div>
    </div>
    <div id="busca_trabajo">
      <p class="texto_footer">¿Buscás trabajo?</p>
      <input id="trabaja_boton" type="button" value="¡Trabajá con nosotros!" />
    </div>
    <div id="redes">
      <p class="texto_footer">Seguinos en nuestras redes sociales</p>
      <div id="redes_icons">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </section>
</footer>