<section id="main_header" class="glass_effect">
  <header>
    <div id="navigation_bar">
      <div id="search_logo">
        <div>
          <div id="header" class="display_flex">
            <img src="/img/logo2.svg" alt="Logo" id="logo" />
            <a href="/" id="luminis_button">
              <h1 id="luminis">Luminis</h1>
            </a>
          </div>
        </div>
        <div id="search_form">
          <div id="search" class="display_flex">
            <form id="search_box" class="display_flex">
              <input type="text" id="search_input" placeholder="Buscar" />
              <button type="submit">
                <i class="fas fa-search" id="search-icon"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="display_flex" id="user_buttons">
          <a href="/users/register" class="user_button">
            <button id="sign_up" class="arrow_button">
              Registrate
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button></a>
          <a href="/users/login" class="user_button">
            <button id="login" class="arrow_button">
              Inicia Sesión
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button></a>
          <div id="div-shopping-cart"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></i></div>
        </div>
      </div>

      <div id="nav_bar">
        <ul>
          <li><a class="linksNavbar" href="/product">PRODUCTOS</a></li>
          <li><a class="linksNavbar" href="/aboutUs">NOSOTROS</a></li>
          <li><a class="linksNavbar" href="/frequentQuestions">PREGUNTAS FRECUENTES</a></li>

          <!-- <i class="fas fa-user-circle"></i> -->
        </ul>
      </div>
    </div>
  </header>
</section>