<section id="header" class="efecto_glass">
  <header>
    <div id="encabezado" class="display_flex">
      <img src="/img/logo2.svg" alt="Logo" id="logo" />
      <h1 id="luminis">Luminis</h1>
    </div>

    <div>
      <h2 id="lema" class="animation">
        "Acompañando a los alumnos y docentes en cada paso"
      </h2>
    </div>
  </header>
</section>
