<section id="header" class="efecto_glass">
  <header>
    <div id="barra_navegacion">
      <div id="logo_busqueda">
        <div>
          <div id="encabezado" class="display_flex">
            <img src="/img/logo2.svg" alt="Logo" id="logo" />
            <a href="/" id="boton_luminis"><h1 id="luminis">Luminis</h1></a>
          </div>
        </div>
        <div id="form_busqueda">
          <div id="busqueda" class="display_flex">
            <form id="search_box" class="display_flex">
              <input type="text" placeholder="Buscar" />
              <button type="submit">
                <i class="fas fa-search" id="search-icon"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="display_flex" id="botones_usuario">
          <a href="/register" class="user_button">
            <button id="sign_up" class="flecha">
              Registrate
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div></button
          ></a>
          <a href="/login" class="user_button">
            <button id="login" class="flecha">
              Inicia Sesión
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div></button
          ></a>
        </div>
      </div>

      <div id="nav_bar">
        <ul>
          <li><a href="/product">PRODUCTOS</a></li>
          <li><a href="">NOSOTROS</a></li>
          <li><a href="">NEWS</a></li>
          <li><a href="">AYUDA</a></li>
          <!--               <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-user-circle"></i> -->
        </ul>
      </div>
    </div>
  </header>
</section>
