<div class="outer-menu">
    <input class="checkbox-toggle" type="checkbox" />
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/product">PRODUCTOS</a></li>
            <li><a href="/aboutUs">NOSOTROS</a></li>
            <li><a href="/frequentQuestions">PREGUNTAS FRECUENTES</a></li>
            <a href="/users/register">
              <button id="sign_up" class="arrow_button">
                Registrate
                <div class="arrow-wrapper">
                  <div class="arrow"></div>
                </div>
              </button>
            </a>
            <a href="/users/login">
              <button id="login" class="arrow_button">
                Inicia Sesión
                <div class="arrow-wrapper">
                  <div class="arrow"></div>
                </div>
              </button>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>