<div class="outer-menu">
    <input class="checkbox-toggle" type="checkbox" />
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="">PRODUCTOS</a></li>
            <li><a href="">NOSOTROS</a></li>
            <li><a href="">NEWS</a></li>
            <li><a href="">AYUDA</a></li>
            <button id="sign_up" class="flecha">
              Sign up
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button>
            <button id="login" class="flecha">
              Login
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button>
          </ul>
        </div>
      </div>
    </div>
  </div>