 <!------   SLIDER DE EDITORIALES   ------>

           
 <div class="logos">
    <div class="logo-slide">
        <img src="img/slider/1.png" alt="">
        <img src="img/slider/2.png" alt="">
        <img src="img/slider/3.png" alt="">
        <img src="img/slider/4.png" alt="">
        <img src="img/slider/5.png" alt="">
        <img src="img/slider/6.png" alt="">
        <img src="img/slider/7.png" alt="">
    </div>
    <div class="logo-slide">
      <img src="img/slider/1.png" alt="">
      <img src="img/slider/2.png" alt="">
      <img src="img/slider/3.png" alt="">
      <img src="img/slider/4.png" alt="">
      <img src="img/slider/5.png" alt="">
      <img src="img/slider/6.png" alt="">
      <img src="img/slider/7.png" alt="">
    </div>
</div>