section {
    display: flex;
    width: 80%;
}

a {
    text-decoration: none;
}

.info-boxes {
    padding-top: 3em;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    min-width: 280px;
    width: 100vw;
}

.info-box:hover {
    text-decoration: none;
    background-color:rgba(188, 218, 228, 0.815);
}

.info-box {
    background: white;
    text-decoration: none;
    height: 160px;
    max-width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 3em;
    border: 1px solid black;
    border-radius: 5px;
}

.box-content {
    text-decoration: none;
    padding-left: 1.25em;
    white-space: nowrap;
}

.big {
    display: block;
    font-size: 2em;
    line-height: 150%;
    color: black;
    text-align: center;
}

.box-icon {
    font-size: 3em;
    color: #C0C0C0;
}